<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
              http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
             http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:common.properties</value>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <context:component-scan base-package="com.qingqing.study.service.impl">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- JOTM实例 -->
    <!--<bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean">-->
        <!--<property name="defaultTimeout" value="500000"/>-->
    <!--</bean>-->

    <bean id="transactionService" class="com.qingqing.study.service.impl.TransactionServiceImpl">
        <property name="transactionService" ref="transactionService"/>
        <property name="simpleUserDao" ref="simpleUserDao"/>
        <property name="simpleCityDao" ref="simpleCityDao"/>
    </bean>

    <bean id="atomikosTransactionService" class="com.qingqing.study.service.impl.AtomikosTransactionServcieImpl">
        <property name="transactionServcie" ref="atomikosTransactionService"/>
        <property name="simpleUserDao" ref="simpleUserDao_atomikos"/>
        <property name="simpleCityDao" ref="simpleCityDao_atomikos"/>
    </bean>

    <bean id="atomikosUserTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager"
          init-method="init" destroy-method="close">
        <property name="forceShutdown" value="true"/>
    </bean>

    <bean id="atomikosUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
        <property name="transactionTimeout" value="3000"/>
    </bean>

    <!-- JTA - atomikos 事务管理器 -->
    <bean id="atomikosTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="atomikosUserTransactionManager"/>
        <property name="userTransaction" ref="atomikosUserTransaction"/>
    </bean>

    <!-- JTA- jotm事务管理器 -->
    <!--<bean id="jtaTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">-->
        <!--<property name="userTransaction" ref="jotm"/>-->
    <!--</bean>-->
</beans>
