<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd


              http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:common.properties</value>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean id="simpleUserDao" class="com.qingqing.study.dao.impl.SimpleUserDaoImpl">
        <property name="dataSource" ref="qqStudy1DataSource"/>
    </bean>

    <bean id="simpleUserDao_atomikos" class="com.qingqing.study.dao.impl.SimpleUserDaoImpl">
        <property name="dataSource" ref="qqStudy1DataSource_atomikos"/>
    </bean>

    <bean id="simpleUserDao_jotm" class="com.qingqing.study.dao.impl.SimpleUserDaoImpl">
        <property name="dataSource" ref="qqStudy1DataSource_jotm"/>
    </bean>

    <bean id="qqStudy1DataSource_jotm" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource"
          destroy-method="shutdown">
        <property name="dataSource">
            <!-- 内部XA数据源 -->
            <bean class="org.enhydra.jdbc.standard.StandardXADataSource"
                  destroy-method="shutdown">
                <property name="transactionManager" ref="jotm"/>
                <property name="driverName" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://db.dev:3307/qq_study_1?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="user" value="qingqingtst"/>
                <property name="password" value="qingqing@tst"/>
            </bean>
        </property>
        <property name="user" value="qingqingtst"/>
        <property name="password" value="qingqing@tst"/>
    </bean>

    <bean id="qqStudy1DataSource_atomikos" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init"
          destroy-method="close">
        <property name="uniqueResourceName" value="ds_qq_study_1"/>
        <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="serverName">db.dev</prop>
                <prop key="portNumber">3307</prop>
                <prop key="databaseName">qq_study_1</prop>
                <prop key="user">qingqingtst</prop>
                <prop key="password">qingqing@tst</prop>
            </props>
        </property>
        <property name="minPoolSize" value="10"/>
        <property name="maxPoolSize" value="100"/>
        <property name="borrowConnectionTimeout" value="30"/>
        <property name="testQuery" value="select 1"/>
        <property name="maintenanceInterval" value="60"/>
    </bean>

    <bean id="qqStudy1DataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver">
        </property>
        <property name="url">
            <value>${database.study.db1.url}</value>
        </property>
        <property name="username">
            <value>${database.study.username}</value>
        </property>
        <property name="password">
            <value>${database.study.password}</value>
        </property>
        <!--maxIdle: 最大空闲连接 -->
        <property name="maxIdle" value="10"/>
        <!--minIdle: 最小空闲连接 -->
        <property name="minIdle" value="5"/>
        <!--maxActive: 最大连接数量 -->
        <property name="maxActive" value="30"/>
        <!-- <property name="logAbandoned" usingList="true" /> -->
        <!--removeAbandoned: 是否自动回收超时连接 -->
        <property name="removeAbandoned" value="true"/>
        <!--removeAbandonedTimeout: 超时时间(以秒数为单位) -->
        <property name="removeAbandonedTimeout" value="280"/>
        <!--maxWait: 超时等待时间以毫秒为单位 6000毫秒/1000等于60秒 -->
        <property name="maxWait" value="30000"/>
        <property name="validationQuery">
            <value>SELECT 1 FROM DUAL</value>
        </property>
        <property name="testOnBorrow">
            <value>true</value>
        </property>
    </bean>

    <bean id="transactionManager1" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <qualifier value="transactionManager1"/>
        <property name="dataSource" ref="qqStudy1DataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager1"/>
</beans>
